.inp{
    width: 500px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

img{
    display: block;
    padding-top: 10vh;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .inp{
        width: 90vw !important;
    }
    img{
        width: 90vw;
    }
}

.input-url{
    margin-top: 20vh;
    height: 30px;
}

.input-text{
    height: 100px;
}

.input-button{
    height: 40px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    background: #55acee;
    box-shadow: 0 5px 0 #3C93D5;
    color: white;
    transition: .3s;
    width: 300px;
}
.input-button:hover{
    background: #4595d1;
    box-shadow: 0 5px 0 #1e68a0;
}

.input-file{
    display: block;
    opacity:0;
}

.input-file-label{
    display: block;
    padding-top: 10px;
    height: 30px;
    text-align: center;
    border: 2px dashed gray;
    color: gray;
}
.input-file-label:hover{
    background: #f3f3f3;
}